*{
    margin: 0;
    padding: 0;
}
.gallery{
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: #2a2932;
    padding: 100px 0;
 }
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.gallery .gallery-filter .filter-item{
    color: #ffffff;
    font-size: 17px;
    border: 2px solid white;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    line-height: 1.2;
    transition: all 0.3s ease;
}
.gallery{
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: #2a2932;
    padding: 100px 0;
 }
 
.container{
    max-width: 1170px;
    margin:auto;
}
.gallery{
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: #2a2932;
    padding: 100px 0;
}
.gallery .gallery-filter .filter-item.active{
    color: white;
    border-color : #16b5ef;
    background: #16b5ef;
}
.gallery .gallery-item{
    width: calc(100% / 3);
    padding: 15px;

}
.gallery .gallery-item-inner img{
    width: 100%;
  border: 3px solid #d4dad9;
}
.gallery .gallery-item.hide{
    display: none;
}