
.tooltips {
    position: relative;
}

.tooltips .tooltip_element{
    border-bottom: 1px dashed #000;
}

.tooltips .tooltip{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 10px;
    background: rgba(153, 205, 50, 0.606);
    max-width: 200px;
}